html {
  font-size:large;
}
body {
  background:#cccccc;
}
h1, h2, h3, h4, h5, h6 {
  margin-left:0;
}
#header {
  background:#dddddd;
  overflow:visible;
  z-index:10;
  position: fixed;
  width:100%;
  height:83px;
}
#logo {
  width:300px;
  position:relative;
  left:20px;
  bottom: -18px;
}
#menu {
  position:absolute;
  right:0px;
  bottom:0px;
  width:100px;
}
#menu .icon-github-circled {
  float:right;
  font-size:xx-large;
}
#footer {
  background:#dddddd;
  padding:20px 20px 10px 20px;
  z-index:10;
  position:fixed;
  width:100%;
  left:0px;
  bottom:0px;
}
#content {
  padding:90px 20px 20px 111px;
  overflow:scroll;
}
#payoff {
  margin-bottom:30px;
  color:#3d3d3d;
}
#addShow {
  font-size:2rem;
  position:relative;
  display:inline-block;
}
#addShow img {
  width:50px;
  height:50px;
  position:absolute;
  left:-60px;
}
#modal {
  position:fixed;
  display:none;
  z-index:100;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.75)
}
#dialogue {
  background-color:#cccccc;
  position:absolute;
  z-index:101;
  left:130px;
  top:40px;
  width:400px;
  bottom:40px;
  overflow:scroll;
  border-radius: 4px;
  padding:20px;
}
#dialogue input[type=text] {
  width:100%;
  margin-left:0;
  margin-bottom:15px;
}
#dialogue button, #dialogue .close {
  float:right;
}
#buttonRow {
  margin-top:30px;
}
#buttonRow button.primary, #buttonRow button:visited.primary {
  color:#3d3d3d;
  background:#ffffaa;
}
#buttonRow button:hover.primary, #buttonRow button:active.primary {
  color:#3d3d3d;
  background:#ffc9ab;
}
#dialogue .icon-cancel {
  cursor:pointer;
}
a:link.thrash, a:visited.thrash, a .icon-github-circled, a:visited .icon-github-circled {
  color:#3d3d3d;
}
a:hover.thrash, a:active.thrash, a:hover .icon-github-circled, a:active .icon-github-circled{
  color:#522705;
}

