<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nowcontent.xyz - Create bookmarklets for sending content / pages to service [xyz]</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/mini-additions.css">
    <link rel="stylesheet" href="./fontello/css/fontello.css">
  </head>
  <body>
    <div id="bookmarklets">
      <div id="header">
        <img id="logo" src="./img/logo-nowcontent.xyz.png">
        <div id="menu">
          <a href="https://github.com/eklem/nowcontent.xyz/"><i class="icon-github-circled"></i></a>
        </div>
      </div>
      <div id="content">
        <div id="payoff">Create bookmarklets for sending content / pages to service [xyz]</div>
        <a id="addShow" href="#" v-on:click="showModal(true)"><img src="./img/button-add.png">Add content endpoint</a>
        <div id="modal" v-show="modal.show">
          <div id="dialogue">
            <i class="icon-cancel close" v-on:click="showModal(false)"></i>
            <h2>Where to send data</h2>
            <div v-for="(serviceTemplate, index) in serviceTemplates">
              <input type="radio" name="service" :value="index"  v-on:click="showService(index)">
              {{ serviceTemplate.serviceName }}
            </div>
            <template v-for="(serviceTemplate, index) in serviceTemplates">
                <div v-show="serviceTemplate.show">
                <h2>Bookmarklet name</h2>
                <input type="text" placeholder="bookmarklet name" v-model="serviceTemplate.name">
                <div v-for="inputElement in serviceTemplate.content ">
                  {{inputElement.label}}
                  <input type="text" :placeholder="inputElement.label" v-model="inputElement.value">
                </div>
                <div id="buttonRow">
                  <button class="primary" v-on:click="addBookmarklet(index)"><i class="icon-floppy"></i>Add</button>
                  <button class="default" v-on:click="showModal(false)"><i class="icon-cancel"></i>Cancel</button>
                </div>
              </div>
            </template>
          </div>
        </div>
        <div id="bookmars" v-for="(service, index) in services">
            <a href="#" v-on:click="deleteFromDB(service.id)" class="thrash"><i class="icon-trash"></i></a><a class="button default" v-bind:href="generateScript(index, service.id, service.content.serviceName, service.content)"><i class="icon-bookmark"></i>{{service.content.name}}</a>
        </div>
        <h2>How to get going:</h2>
        <h3>1. Set up a service</h3>
        Set up a service with <a href="https://jsonbin.io">JSONbin.io</a>, <a href="https://sanity.io">Sanity.io</a> or <a href="https://zapier.com/">Zapier.com</a>.
        <h3>2. Add a content endpoint</h3>
        The content endpoint should point to the service you set up in the previous step.
        <h3>3. Add bookmarklet to bookmark toolbar</h3>
        Dragg the bookmarklet button to your browsers bookmark toolbar.
        <h3>4. Start sending content</h3>
        WHen on a page you want to add, just click on the bookmarklet in your bookmark toolbar. 
      </div>
      <div id="footer">
        <strong>Your privacy:</strong> Nowcontent.xyz doesn't store anything. It's all in your browser's <a href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API">indexedDB</a>. However, it's a <a href="https://help.github.com/en/articles/github-privacy-statement#github-pages">GitHub page</a>, so IP address is stored.
        Also, the service you choose to send content to obviously store stuff. Here are their privacy statements:
        <a href="https://jsonbin.io/privacy-policy">JSONbin.io</a>, <a href="https://zapier.com/privacy/">Sanity.io</a> and <a href="https://www.sanity.io/legal/privacy">Zapier.com</a>
      </div>
    </div>
    <script src="./bookmarklet-app.js"></script>
  </body>
</html>
