
{
  "name": "norch-zapier-bookmarklet",
  "version": "0.0.2",
  "description": "A bookmarklet index the page you're reading into a Norch search server. ",
  "main": "index.html",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/eklem/norch-zapier-bookmarklet.git"
  },
  "keywords": [
    "search",
    "bookmarklet",
    "search-indexer"
  ],
  "author": "Espen Klem",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/eklem/norch-zapier-bookmarklet/issues"
  },
  "homepage": "https://github.com/eklem/norch-vuejs-app#readme"
}
